{% extends "base.html" %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'CSS/profile.css' %}">

<div class="con">
    <div class="card">

        <img src="{{ profile.avatar.url }}" class="avatar" alt="Avatar">
        <p>Username: <span>{{ user.username }}</span></p>
        <p class="text-muted">Email: {{ user.email }}</p>
        <hr>
        <p>About: {{ profile.about }}</p>
        <hr>
        <a  href="{% url 'users:edit_profile' %}"><button class="button1">EDIT PROFILE</button></a>
        <a  href="{% url 'users:sign_out' %}"><button class="button2" style="margin-top: 10px;">LOGOUT</button></a>
        
    </div>
</div>
{% endblock %}
