



#messenger-container {
    max-width: 100%;
    padding: 20px;

    /* height: 60%; */
} 

#messages {
    margin-bottom: 20px;
    height: 100%;
    background-color: #D0D0D0;
    padding: 30px 30px 0px 30px;
    border-radius: 24px 24px 0px 0px;
    height: 430px; 
    overflow-y: auto; 
    display: flex;
    flex-direction: column-reverse;
}


.message {
    display: flex;
    margin-bottom: 10px;
}

.message .message-content {
    background-color: #DCF8C6;
    padding: 10px;
    border-radius: 10px;
    max-width: 70%;
}

.message .avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-left: 10px;
}

.message .text {
    margin: 0;
    font-size: 16px;
}

.message .date-sent {
    margin: 0;
    font-size: 12px;
    color: #666;
}

#message-form {
    display: flex;
    align-items: center;
    text-align: center;
}

#message-form input[type="text"] {
    flex: 1;
    padding: 10px;
    border-radius: 20px;
    border: 1px solid #ccc;
    margin-right: 10px;
}




.outgoing {
    justify-content: flex-end;
}

.outgoing .message-content {
    background-color: #DCF8C6;
    color: #333;
}

.incoming .message-content {
    background-color: #EAEAEA;
    color: #333;
}

@media (max-width: 768px) {
    #messenger-container {
        padding: 10px;
    }
    .message .avatar {
        width: 30px;
        height: 30px;
    }
    .message .text {
        font-size: 14px;
    }
    .message .date-sent {
        font-size: 10px;
    }
    #message-form input[type="text"] {
        padding: 8px;
    }

    .message .message-content {
        max-width: 80%;
    }
    #messages {
        max-height: 1050px;
        height: 100%;
        overflow-y: scroll;
    }
}

.form_style {
    text-align: center;
    background-color: #D0D0D0;
    padding-top: 5%;
    margin-top: -5%;
    padding-bottom: 2%; 
    border-radius: 0px 0px 24px 24px;
    padding-left: 30px; 
    padding-right: 60px;
}

#send-button {
    margin-left: -80px;
    background-color: transparent; 
    border: none;
}
