@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: "Poppins", sans-serif; */
  font-family: 'Source Code Pro', monospace;
}
/* body {
  background: #f0faff;
} */
.nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 15px 200px;
  background: #393a3a33;
  backdrop-filter: blur(8px);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
.nav,
.nav .nav-links {
  display: flex;
  align-items: center;
}
.nav {
  justify-content: space-between;
}
a {
  color: #fff;
  text-decoration: none;
}
a:hover {
    color: #ffcc00;
}
.nav .logo {
  font-size: 22px;
  font-weight: 500;
}
.nav .nav-links {
  column-gap: 20px;
  list-style: none;
}
.nav .nav-links a {
  transition: all 0.2s linear;
}
.nav.openSearch .nav-links a {
  opacity: 0;
  pointer-events: none;
}
.nav .search-icon {
  color: #fff;
  font-size: 20px;
  cursor: pointer;
}
.nav .search-box {
  position: absolute;
  right: 250px;
  height: 45px;
  max-width: 555px;
  width: 100%;
  opacity: 0;
  pointer-events: none;
  transition: all 0.2s linear;
}
.nav.openSearch .search-box {
  opacity: 1;
  pointer-events: auto;
}
.search-box .search-icon {
  position: absolute;
  left: 15px;
  top: 50%;
  left: 15px;
  color: #d6d6d6;
  transform: translateY(-50%);
}
.search-box input {
  height: 100%;
  width: 100%;
  border: none;
  outline: none;
  border-radius: 6px;
  background-color: #434343;
  padding: 0 15px 0 45px;
  color: #ffffff;
}
.nav .navOpenBtn,
.nav .navCloseBtn {
  display: none;
}
/* responsive */
@media screen and (max-width: 1160px) {
  .nav {
    padding: 15px 100px;
  }
  .nav .search-box {
    right: 150px;
  }
}
@media screen and (max-width: 950px) {
  .nav {
    padding: 15px 50px;
  }
  .nav .search-box {
    right: 100px;
    max-width: 400px;
  }
}
@media screen and (max-width: 768px) {
  .nav .navOpenBtn,
  .nav .navCloseBtn {
    display: block;
  }
  .nav {
    padding: 15px 20px;
  }
  .nav .nav-links {
    position: fixed;
    top: 0;
    left: -100%;
    height: 1900px;
    max-width: 280px;
    width: 100%;
    padding-top: 100px;
    row-gap: 30px;
    flex-direction: column;
    background-color: #222121;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    transition: all 0.4s ease;
    z-index: 9999;
  }
  .nav.openNav .nav-links {
    left: 0;
  }
  .nav .navOpenBtn {
    color: #fff;
    font-size: 20px;
    cursor: pointer;
  }
  .nav .navCloseBtn {
    position: absolute;
    top: 20px;
    right: 20px;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
  }
  .nav .search-box {
    top: calc(100% + 10px);
    max-width: calc(100% - 20px);
    right: 50%;
    transform: translateX(50%);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  }
}



.container {
  display: flex;
  flex-direction: column;
  background-color: #1e1e1e;
  color: #d4d4d4;
  font-family: Consolas, "Courier New", monospace;
  min-height: 100vh; /* Set minimum height to fill the viewport */
  padding: 20px;
}

/* Styles for the toolbar */
.toolbar {
  display: flex;
  background-color: #2d2d30;
  padding: 5px;
  margin-bottom: 10px;
}

.toolbar button {
  background-color: transparent;
  border: none;
  color: #d4d4d4;
  cursor: pointer;
  margin-right: 5px;
}

/* Styles for the code editor */
#code-editor {
  flex: 1;
  outline: none;
  min-height: 300px; /* Set minimum height for the code editor */
  margin-top: 10px;
  padding: 10px;
  background-color: #2d2d30;
  color: #d4d4d4;
  border: none;
  border-radius: 5px;
}

/* Styles for the language selection */
#language-selection-container {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

#language-selection {
<<<<<<< HEAD
    padding: 5px;
    /* background-color: #2d2d30; */
    color: #ffffff;
    border-radius: 5px;
    font-size: 16px;
    margin-right: 10px;
=======
  padding: 5px;
  background-color: #2d2d30;
  color: #d4d4d4;
  border-radius: 5px;
  font-size: 16px;
  margin-right: 10px;
>>>>>>> 104affa2c0938d06ce63da2f57116b433980f74e
}

/* Styles for the language search input */
#language-search {
<<<<<<< HEAD
    /* padding: 8px; */
    font-size: 15px;
    /* border: none;
    border-radius: 5px;
    margin-top: 5px;
    background-color: #2d2d30;
    color: #d4d4d4;
    width: 100%;
    box-sizing: border-box;
    outline: none; */
=======
  padding: 8px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  margin-top: 5px;
  background-color: #2d2d30;
  color: #d4d4d4;
  width: 100%;
  box-sizing: border-box;
  outline: none;
>>>>>>> 104affa2c0938d06ce63da2f57116b433980f74e
}

/* Styles for the language suggestion box */
#language-suggestion {
  background-color: #2d2d30;
  color: #d4d4d4;
  padding: 5px;
  border-radius: 5px;
  margin-top: 5px;
  display: none;
  max-height: 150px; /* Set maximum height for the suggestion box */
  overflow-y: auto; /* Enable vertical scrolling */
}

/* Styles for language suggestions */
.language-suggestion-item {
  cursor: pointer;
  padding: 5px;
}

.language-suggestion-item:hover {
  background-color: #3e3e3e;
}

.continue1 {
  padding: 12px;
  background-color: #007bff;
  color: white;
  border-radius: 14px;
  text-decoration: none;
  margin-top: 20px;
}
/* Стили для модального окна */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  border-radius: 24px;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 500px; /* Максимальная ширина модального окна */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  animation-name: modalopen;
  animation-duration: 0.4s;
}

.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

/* Адаптивность для мобильных устройств */
@media only screen and (max-width: 600px) {
  .modal-content {
    width: 90%;
  }
}
<<<<<<< HEAD
    /* Стили для модального окна */
    .modal {
        display: none;
        position: fixed;
        z-index: 1;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        border-radius: 24px;
        background-color: rgba(0,0,0,0.4);
        backdrop-filter: blur(15px);
    }
    
    .modal-content {
        background-color: #4a4848;
        margin: auto;
        padding: 20px;
        border: 1px solid #000000;
        width: 80%;
        max-width: 500px; 
        height: 150px;/* Максимальная ширина модального окна */
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
        animation-name: modalopen;
        animation-duration: 0.4s;
        border-radius: 15px;
        text-align: center;
        color: #ffffff;
        margin-top: 30px;
    }
    
    .close {
        color: #aaaaaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
    }
    
    .close:hover,
    .close:focus {
        color: #000;
        text-decoration: none;
        cursor: pointer;
    }
    
    /* Адаптивность для мобильных устройств */
    @media only screen and (max-width: 600px) {
        .modal-content {
            width: 90%;
        }
    }
    
=======
>>>>>>> 104affa2c0938d06ce63da2f57116b433980f74e
