{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BIG CODE</title>
    <link rel="stylesheet" href="{% static 'CSS/base.css' %}">
</head>
<body>
    <!-- Навбар -->
    <nav class="navbar">
        <a href="{% url 'dom:helo' %}" class="logo">BIG CODE</a>
        <div class="container">
            <div class="menu-toggle">&#9776;</div> <!-- Бургер-меню -->
            <ul class="menu" style="text-align: center;">
                <li><a href="#about">About Us</a></li>
                <li><a href="{% url 'dom:doc' %}">Documentation</a></li>
                {% if user.is_authenticated %}
                <li><a href="{% url 'dom:home' %}">Editor</a></li>
                <li><a href="{% url 'users:view_profile' %}"><img src="{{ profile.avatar.url }}" style="width: 40px; height: 30px; border-radius: 50%; margin-top: 3px;" alt="Avatar"></a></li>
                

                {% else %}
                <li><a href="{% url 'users:sign_up' %}">Register</a></li>
                <li>/</li>
                <li><a href="{% url 'users:sign_in' %}">Login</a></li>
                {% endif %}
            </ul>
        </div>
    </nav>
    {% block content %}
    {% endblock content %}
    <!-- Футер -->
    <footer>
        <div style="text-align: center;">
            &copy; 2024 BIG CODE. All rights reserved.
            <a href="https://github.com/ayhandev/" style="color: white;">ayhandev</a>
        </div>
    </footer>
    <script src="{% static 'JS/base.js' %}"></script>
</body>
</html>