{% extends "base.html" %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BIG CODE Documentation</title>
    {% block content %}
    
</head>
<body style="margin: 0;">
    
    <div class="container">
        <header><br><br><br><br>
            <h1>BIG CODE Documentation</h1>
        </header>
        <main>
            <!-- Insert your documentation content here -->
            <section>
                <h2>Introduction</h2>
                <p>The BIG CODE is a web application designed to provide users with a versatile platform for editing and executing code snippets directly in their web browsers. With its intuitive interface and powerful features, it serves as an effective tool for writing and testing programs in various programming languages.</p>
            </section>
            <section>
                <h2>Features</h2>
                <ul>
                    <li>Code Editing: Edit code with syntax highlighting and autocompletion.</li>
                    <li>Code Execution: Run Python and HTML code directly within the editor.</li>
                    <li>Responsive Design: Seamlessly use the editor on devices of all sizes.</li>
                </ul>
            </section>
            <section>
                <h2>Usage</h2>
                <ul>
                    <li>Editing Code: Use the text area to input and edit your code with syntax highlighting and autocompletion support.</li>
                    <li>Language Selection: Choose the programming language of your code from the dropdown menu.</li>
                    <li>Running Code: Execute your code by clicking the "Run" button. The output will be displayed in a dedicated area or in a new browser tab, depending on the selected language.</li>
                </ul>
            </section>

            <section>
                <h2>License</h2>
                <p>This project is licensed under the Creative Commons Zero v1.0 Universal (CC0 1.0) Public Domain Dedication. This license allows users to use the code editor without restrictions, but they are not permitted to modify or distribute it after making changes.</p>
            </section>
            <section>
                <h2>Acknowledgements</h2>
                <ul>
                    <li>CodeMirror - A versatile text editor implemented in JavaScript for the browser.</li>
                    <li>Font Awesome - Iconic font and CSS toolkit.</li>
                </ul>
            </section>
            <section>
                <h2>Contributing</h2>
                <p>Contributions to this project are not accepted. The code editor is provided "as is," and further modifications or distributions are not allowed according to the terms of the license.</p>
            </section>
            <section>
                <h2>Issues</h2>
                <p>Report any issues or feature requests to us on Instagram @big_code_official</p>
            </section>
        </main>
    </div>
    {% endblock content %}
</body>
</html>
