{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BIG CODE</title>
    <link rel="stylesheet" href="{% static 'CSS/base.css' %}">
</head>
<body>
    <!-- Навбар -->
    <nav class="navbar">
        <a href="{% url 'dom:helo' %}" class="logo">BIG CODE</a>
        <div class="container">
            <div class="menu-toggle">&#9776;</div> <!-- Бургер-меню -->
            <ul class="menu" style="text-align: center;">
                <li><a href="#about">About Us</a></li>
                <li><a href="{% url 'dom:doc' %}">Documentation</a></li>
                <li><a href="{% url 'dom:public_list' %}">Publications</a></li>
                {% if user.is_authenticated %}
                <li><a href="{% url 'dom:messenger' %}">General chat</a></li>
                <li><a href="{% url 'dom:home' %}">Editor</a></li>
                <li><a href="{% url 'users:view_profile' %}"><img src="{{ profile.avatar.url }}" style="width: 40px; height: 30px; border-radius: 50%; margin-top: 3px;" alt="Avatar"></a></li>
                

                {% else %}
                <li><a href="{% url 'users:sign_up' %}">Register</a></li>
                <li>/</li>
                <li><a href="{% url 'users:sign_in' %}">Login</a></li>
                {% endif %}
            </ul>
        </div>
    </nav>
    <!-- Секция с новостями и статьями -->
    <section class="articles" style="align-items: center;text-align: center;">
        <div style="margin: 0 auto; max-width: 1200px;">
            <h2>News about our site</h2>
            <!-- Здесь можете добавить ваш контент с новостями и статьями -->
            {% if infa_objects %}
    {% for obj in infa_objects|dictsortreversed:"date" %}
        <div class="article">
            <h3>{{ obj.name }}</h3>
            <p>{{ obj.description }}</p>
            <p>{{ obj.date }}</p>
            {% if request.user.is_superuser %}
                <form method="post" action="{% url 'dom:delete_infa' obj.id %}">
                    {% csrf_token %}
                    <button style="color: white; border-radius: 24px; border: none; padding: 10px; background-color: orangered;"  type="submit">Delete</button>
                </form>
            {% endif %}
        </div>
    {% endfor %}
{% else %}
    <p>There are no entries available at this time.</p>
{% endif %}


        </div>
    </section>

    <section id="about" class="about-us" style="text-align: center;">
        <div style="max-width: 1200px; margin: 0 auto;">
            <h2>About Us</h2>
            <p>Welcome to our website BIG CODE! We provide a platform for software development and testing. Our goal is to help developers create quality code and share their experience with the community.</p>
            <p>We aim to make our website a convenient tool for everyone interested in programming and software development.</p>
        </div>
    </section>
    
    {% if request.user.is_superuser %}
<section class="submit-form">
    <div style="text-align: center;">
        <h2>Send information</h2>
        <form method="post" action="{% url 'dom:submit_infa' %}">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Send</button>
        </form>
    </div>
</section>
{% endif %}

    <!-- Футер -->
    <footer>
        <div style="text-align: center;">
            &copy; 2024 BIG CODE. All rights reserved.
            <a href="https://github.com/ayhandev/" style="color: white;">ayhandev</a>
        </div>
    </footer>

    <!-- JavaScript для бургер-меню -->
    <script src="{% static 'JS/base.js' %}"></script>
</body>
</html>
