{% extends "base.html" %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'CSS/messenger.css' %}">
<style>

</style>
<div id="messenger-container"> <br><br><br><br>
    <h1 style="text-align: center;">General chat BIG CODE</h1>
    <div id="messages">
        {% for message in messages reversed %}
            <div class="message {% if message.user == request.user %}outgoing{% else %}incoming{% endif %}">
                <div class="message-content">
                    <p class="text">{{ message.content }}</p>
                    <p class="date-sent">{{ message.date_sent }}</p>
                </div>
                {% if message.user != request.user %}
                    <img src="{{ message.user.profile.avatar.url }}" alt="Avatar" width="80px" class="avatar">
                    <p>{{ message.user.username }}</p>
                {% endif %}
            </div>
        {% endfor %}
    </div>
    
    {% comment %} <div id="messages" >
        {% for message in messages %}
            <div class="message {% if message.user == request.user %}outgoing{% else %}incoming{% endif %}">
                <div class="message-content">
                    <p class="text">{{ message.content }}</p>
                    <p class="date-sent">{{ message.date_sent }}</p>
                </div>
                {% if message.user != request.user %}
                    <img src="{{ message.user.profile.avatar.url }}" alt="Avatar" width="80px" class="avatar">
                    <p>{{ message.user.username }}</p>
                {% endif %}
            </div>
        {% endfor %}
    </div> {% endcomment %}
    <form id="message-form" class="form_style" method="post" >
        {% csrf_token %}
        <input type="text" id="id_content" name="content" style="width:100%; border-radius: 9px; margin-bottom: 0px;" placeholder="Type your message here">
        <button id="send-button">
            <img src="{% static 'IMAGES/send_icon.png' %}" width="30px"alt="">
        </button>
        
    </form>
</div>

</div>
{% endblock content %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="{% static 'JS/messenger.js' %}"></script>
